// Navigation code here

nav {
    background-color: @nav-bg;
    display: block;
    text-align: center;
    padding: 1% 0;
    border-bottom: 1px soild @nav-border

        .title {
            font-size: 4rem;
            margin-bottom: 1%;
        }

        .nav {

            a {
                text-decoration: none;
                margin: 0 1%;
                font-size: 1.8rem;
                font-family: @nav-font;
                color: @main-font-color;
            }
            
        }
}